<app-header></app-header>

<router-outlet></router-outlet>
<head>
    <link rel="stylesheet" href="./footer/footer.component.css">
</head>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <div class="logo">
        <span class="logo-part-1">მ</span><span class="logo-part-2">ზ</span><span class="logo-part-3">ა</span>
        <i class="fas fa-utensils"></i>
      </div>
      <p class="description">
        რესტორანი, საუკეთესო ქართული ტრადიციული კერძებით.
      </p>
      <ul class="contact-info">
        <li><i class="fas fa-map-marker-alt"></i> თბილისი, პეკინი ქ, ნ31.</li>
        <li><i class="fas fa-phone"></i> +(995)-77-77-77 , (032)777-777</li>
        <li><i class="fas fa-envelope"></i> ელ-ფოსტა.. </li>
        <li><i class="fas fa-clock"></i> ორშ - შაბ / 9:00სთ - 20:00სთ</li>
      </ul>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <div class="footer-right">
      <h3>გაიგეთ სიახლეები პირველმა</h3>
      <p>იყავით ინფორმირებული ჩვენი რესტორნის სიახლეებთან დაკავშირებით</p>
      <div class="newsletter">
        <input type="email" placeholder="ელ-ფოსტა">
        <button>გამოწერა</button>
      </div>

      <div class="feedback-form">
        <h3>შეფასება</h3>
        <p>დატოვეთ შეფასება აქ :</p>
        <input type="email" placeholder="ელ-ფოსტა">
        <textarea rows="3" placeholder="დაწერე შეტყობინება*"></textarea>
        <button class="submit-button">გაგზავნა</button>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>საავტორო უფლებები © 2025 ყველა უფლება დაცულია</p>
    <p> დეველოპერი <span class="theme-author">Giorgi Dabrundashvili</span></p>
  </div>
</footer>