<div class="forgot-container">
  <h2>🔑 პაროლის აღდგენა</h2>
  <div *ngIf="step === 1">
    <p>შეიყვანეთ თქვენი Username ან Email</p>
    <input [(ngModel)]="username" placeholder="მომხმარებლის სახელი" />
    <button (click)="requestCode()" [disabled]="!canResend">
      <span *ngIf="!isLoading && canResend">გაგზავნა</span>
      <span *ngIf="isLoading" class="loader"></span>
      <span *ngIf="!canResend && !isLoading">ხელახლა გაგზავნა {{ resendTimer }}წმ-ში</span>
    </button>
  </div>
  <div *ngIf="step === 2">
    <p>შეიყვანეთ გამოგზავნილი 6-ნიშნა კოდი</p>
    <input [(ngModel)]="code" maxlength="6" placeholder="კოდი" />
    <button (click)="verifyCode()">შემოწმება</button>
    <button class="secondary" (click)="requestCode()" [disabled]="!canResend">
      {{ canResend ? 'გაგზავნა თავიდან' : resendTimer + 'წმ...' }}
    </button>
  </div>

  <!-- ახალი პაროლი -->
  <div *ngIf="step === 3">
    <p>შეიყვანეთ ახალი პაროლი</p>
    <input 
      type="password" 
      [(ngModel)]="newPassword" 
      placeholder="ახალი პაროლი" 
      (input)="onPasswordInput()" />

    <div class="password-rules">
      <p [class.valid]="hasUpper">• მინიმუმ ერთი დიდი ასო (A–Z)</p>
      <p [class.valid]="hasNumber">• მინიმუმ ერთი რიცხვი (0–9)</p>
      <p [class.valid]="newPassword.length >= 4">• მინ. 4 სიმბოლო</p>
    </div>

    <button (click)="resetPassword()" [disabled]="!isPasswordValid()">პაროლის შეცვლა</button>
  </div>

  <p class="msg" *ngIf="message">{{ message }}</p>
</div>
