<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <div class="logo">
        <span class="logo-part-1">M</span><span class="logo-part-2">O</span><span class="logo-part-3">X</span>
        <i class="fas fa-utensils"></i>
      </div>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt incidunt accusantium.
      </p>
      <ul class="contact-info">
        <li><i class="fas fa-map-marker-alt"></i> თბილისი, პეკინი ქ, ნ31.</li>
        <li><i class="fas fa-phone"></i> +(995)-77-77-77 , (032)777-777</li>
        <li><i class="fas fa-envelope"></i> ელ-ფოსტა.. </li>
        <li><i class="fas fa-clock"></i> ორშ - შაბ / 9:00სთ - 20:00სთ</li>
      </ul>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <div class="footer-right">
      <h3>გაიგე სიახლეები პირველმა</h3>
      <p>იყავით ინფორმირებული ჩვენი რესტორნის სიახლეებთან დაკავშირებით</p>
      <div class="newsletter">
        <input type="email" placeholder="Your email address...">
        <button>გამოწერა</button>
      </div>

      <div class="feedback-form">
        <h3>შეფასება</h3>
        <p>დატოვეთ შეფასება</p>
        <input type="email" placeholder="E-mail">
        <textarea rows="3" placeholder="დაწერე შეტყობინება*"></textarea>
        <button class="submit-button">გაგზავნა</button>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright © 2025 All Rights Reserved</p>
    <p>Designed & Developed by <span class="theme-author">Giorgi Dabrundashvili</span></p>
  </div>
</footer>